.buttons{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
button{
    width: 100px;
    height: 100px;
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
    background-size: cover;
    background-position: center;
    border: none;
}
#rock{
    background-image: url(
        "img/rock.svg");
    
}
#paper{
    background-image: url(
        "img/paper.svg");
}
#scissors{
    background-image: url(
        "img/scissors.svg");
}
.score{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 22px;
    margin-top: 20px;
}
.rounds{
   
    overflow-y: scroll;
    text-align: center;
}
.rounds::-webkit-scrollbar{
    display: none;
}
.result{
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    white-space: pre-line
}
.rounds:first-child{
    font-weight: bold;
    color: #2d7431;
}
.final-result{
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
    color: #c0869e;
}
body{
    font-family: Arial, sans-serif;
    margin: 50px 50px;
}